<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        #parse("layout/inc.vm") 
		<script>
		    var grid;
			$(document).ready(function(){
		    grid = $("#treeGrid").treegrid({
					width : 'auto',
					height : $(this).height()-90,
					url : "${request.contextPath}/base/dept/getAllDept",
					rownumbers:true,
					animate: true,
					collapsible: true,
					fitColumns: true,
					striped:true,
					border:false,
					singleSelect:true,
					idField: 'id',
					treeField: 'name',
					frozenColumns:[[
					     {
						 	title:'机构名称',
							field:'name',
							width:parseInt($(this).width()*0.2)
					     }
					]],
					columns:[[ 
					      {field:'leader',title:'负责人',width:parseInt($(this).width()*0.1),align:'left'},
						  {field:'mobile',title:'联系电话',width:parseInt($(this).width()*0.1),align:'left'},
						  {field:'email',title:'邮箱',width:parseInt($(this).width()*0.1),align:'left'},
						  {field:'fax',title:'传真',width:parseInt($(this).width()*0.1),align:'left'},
						  {field:'sort',title:'排序号码',width:parseInt($(this).width()*0.1)},
					      {field:'description',title:'机构描述',width:parseInt($(this).width()*0.2),align:'left'}
					 ]],
					 toolbar:'#tb'
					 
				});
			});
			
			//添加操作
			var add = function() {
        		var dialog = parent.ext.modalDialog({
        			title:'添加组织机构',
					width:600,
					height:400,
        			url:'${request.contextPath}/base/dept/edit',
        			buttons:[{
        				text:'保存',
						iconCls:'icon-011',
        				handler:function() {
        					dialog.find('iframe').get(0).contentWindow.submitForm(dialog, grid, parent);
        				}
        			},
					{
						text:'取消',
						iconCls:'icon-041',
        				handler:function() {
        					dialog.dialog('destroy');
        				}
					}]
        		});
            };
			
			//编辑操作
			var edit = function() {
			    var row = grid.treegrid('getSelected');
				if(row){
					var dialog = parent.ext.modalDialog({
            			title:'编辑组织机构',
    					width:600,
    					height:400,
            			url:'${request.contextPath}/base/dept/edit?id='+row.id,
            			buttons:[{
            				text:'保存',
    						iconCls:'icon-011',
            				handler:function() {
            					dialog.find('iframe').get(0).contentWindow.submitForm(dialog, grid, parent);
            				}
            			},
    					{
    						text:'取消',
    						iconCls:'icon-041',
            				handler:function() {
            					dialog.dialog('destroy');
            				}
    					}]
            		});
				}else{
					parent.$.messager.show({
						title :"提示",
						msg :"请选择一行记录!",
						timeout:1000*2
					});
				}
        		
            };
			
			//删除操作
			function del(){
				var row = grid.treegrid('getSelected');
				if(row){
					parent.$.messager.confirm("提示","确定要删除记录吗?",function(value){  
					    if(value){
							$.post("${request.contextPath}/base/dept/delete",{id:row.id},function(result){
								if(result.status){
									grid.treegrid('remove',row.id);
								}
								parent.$.messager.show({
									title:result.title,
									msg:result.message,
									timeout:1000*2
								});
							},"JSON").error(function() {
								parent.$.messager.show({
									title:"提示",
									msg:"操作出错了!",
									timeout:1000*2
								});
							});
						}
					});
				}else{
					parent.$.messager.show({
						title :"提示",
						msg :"请选择一行记录!",
						timeout:1000*2
					});
				}
			}
        </script>
    </head>
    <body style="padding-top:5px;">
		  	<div class="well well-small" style="margin-left:5px;">
				<span class="badge">提示</span>
				<p>
					在此你可以对<span class="label-info"><strong>组织机构</strong></span>进行添加、编辑、或者删除!&nbsp;
					<span class="label-info"><strong>注意</strong></span>
					删除时将同时删除下级机构,请谨慎操作!
				</p>
			</div>
			<div id="tb" style="padding-top:5px;height:30px;">
    			<div style="height:30px;">
    				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-015" plain="true" onclick="add();">添加</a>
    				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-067" plain="true" onclick="edit();">编辑</a>
    				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-041" plain="true" onclick="del();">删除</a>
    			</div>
			</div>
			<table id="treeGrid" title="组织机构"></table>
    </body>
</html>
