<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


  		<!-- Spring listener监听器-->
		<listener>
		     <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		</listener>
  
		<context-param>
		     <param-name>contextConfigLocation</param-name>
		     <param-value>
		         classpath:applicationContext.xml,
		         classpath:spring-mvc.xml,
		         classpath:applicationContext-quickweb.xml
		     </param-value>
		</context-param>
  
  		<!-- POST方式中文乱码问题 -->
		<filter>
			 <filter-name>encodingFilter</filter-name>
			 <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
			 <init-param>
			    <param-name>encoding</param-name>
			    <param-value>utf-8</param-value>
			 </init-param>
		</filter>
  
		<filter-mapping>
			 <filter-name>encodingFilter</filter-name>
			 <url-pattern>/*</url-pattern>
		</filter-mapping>
  
  		<!-- Spring MVC -->
		<servlet>
		     <servlet-name>webMvc</servlet-name>
		     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		     <init-param>
		        <param-name>contextConfigLocation</param-name>
		        <param-value>classpath:spring-mvc.xml</param-value>
		     </init-param>
		     <load-on-startup>1</load-on-startup>
		</servlet>
  
		<servlet-mapping>
		     <servlet-name>webMvc</servlet-name>
		     <url-pattern>/</url-pattern>
		</servlet-mapping>
		
		<!-- jetty容器中文编码 -->
		<locale-encoding-mapping-list>
		        <locale-encoding-mapping>
		            <locale>zh</locale>
		            <encoding>UTF-8</encoding>
		        </locale-encoding-mapping>
		</locale-encoding-mapping-list>
  
</web-app>
